.navbartext {
    color: #ffffff;
    display: inline-block;
    text-decoration: none;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    padding: 15px 20px;
    position: relative;
  }
.navbartext:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    top: -20px;
    content: "";
    display: block;
    height: 1px;
    left: 50%;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
.navbartext:hover {
    transition: 2s;
    text-shadow: 1px 0px 2px white, 0 0 1em white, 0 0 0.2em white;
  }
.navbartext:hover:after { 
    width: 100%; 
    left: 0;
  }
@media screen and (max-height: 300px) {
	  ul {
		  margin-top: 10px;
	  }
  }